%h2
  - if can_current_user_edit_create_organizations?
    = link_to 'add an organization relationship', new_deal_organization_path(:deal_organization => {:deal_id => model.id}),
      :class => 'to-modal'
  Organization Relationships

%div.org_row
  - if(model.deal_organizations.size > 0)
    - model.deal_organizations.each do |deal_org|
      %div= deal_org.organization.name
      %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), deal_org, {:class => 'as-delete'}

    <br clear="all"/>

  - else
    No links to organizations
