%h2
  - if can_current_user_edit_create_organizations?
    = link_to 'add an organization relationship', new_deal_organization_path(:deal_organization => {:deal_id => model.id}),
      :class => 'to-modal'
  Organization Relationships

%div.org_row
  - if(model.deal_organizations.size > 0)
    - model.deal_organizations.each do |deal_org|
      %div= deal_org.organization.name
      = link_to_delete 'delete', deal_org, {:class => 'fluxx-card-form-on-complete-refresh', :method => :delete}

    <br clear="all"/>

  - else
    No links to organizations
