%h2
  - if can_current_user_edit_create_users? 
    = link_to 'add a user relationship', new_deal_user_path(:deal_user => {:deal_id => model.id}),
      :class => 'to-modal'
  User Relationships

%div.user_row
  - if(model.deal_users.size > 0)
    - model.deal_users.each do |deal_user|
      %div= deal_user.user.full_name
      %span.delete-button= link_to image_tag("/fluxx_engine/theme/default/images/icons/delete.png"), deal_user, {:class => 'as-delete'}
    <br clear="all"/>

  - else
    No links to users
